* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5fe7f6;
    border: 3px solid #000000;
}

.logo-placeholder {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #000;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
}

.presentation {
    position: relative;
    text-align: center;
    margin: 20px 0;
    background-color: #97f6f9;
    border: 3px solid #000000;
}

.presentation-placeholder {
    width: 100%;
    height: 300px;
    background-color: #00d1c7;
    border: 3px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(115, 250, 255);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #000;
}

.welcome-message h1 {
    font-size: 24px;
    color: #333;
}

.product-preview {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: #97f6f9;
    border: 3px solid #000000;
}

.product-placeholder {
    width: 30%;
    height: 200px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 8px;
}

.Page01 {
    position: relative;
    text-align: center;
    margin: 0px 0;
    background-color: #97f6f9;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #5fe7f6;
    border: 3px solid #000;
}

.footer-section, .social-media {
    width: 23%;
}

.footer-section h3, .social-media h2 {
    margin-bottom: 10px;
}

.link {
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
